@media only screen and (max-width: 600px) {
  #colonne {
    display: none
  }
}
a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: white;
}

* {
  box-sizing: border-box;
}

[class*="col-"] {width:100%;}
#ongletaccueil {
  background-color: black;
  padding-top: 5px;
  padding-bottom: 5px;
}
footer {
  background-color: black;
  padding-top: 5px;
  padding-bottom: 5px;
}
li {
  display: inline-block;
  text-decoration: underline;
  text-decoration-color: white;
}
#promo {
  background-size: cover;
  height: 50px;
  margin-top: 5px;
}


tbody img {width: 50px;
height: auto;}
table {width: 100%;
font-size:xx-small;}